{% extends "index.html" %}
{% block title %}Choose Disease{% endblock %}

{% block content %}

{% if disease_length %}
    Are You Looking For This????????????

    {% for disease in disease_list %}
    <div class="media" style="border-style:solid">
        <a href="{% url 'choose_hospital' disease_id=disease.id %}">
            <div class="media-left media-middle">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{disease.name}}</h4>
                <p>{{disease.introduction}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
{% else %}
    Not Found
{% endif %}

<br>
Choose HERE folk.

{% for dis in all_dis %}
    <div class="media" style="border-style:solid">
        <a href="{% url 'choose_hospital' disease_id=dis.id %}">
            <div class="media-left media-middle">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{dis.name}}</h4>
                <p>{{dis.introduction}}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}