{% extends template %}

{% block title %}Choose Disease{% endblock %}

{% block content %}
<p>您是否要查询：</p>
{% for disease in disease_list %}
<div class="media" style="border-style:solid">
    <form action="{% url 'choose_hospital' %}">
        <input type="hidden" name="disease_id" value="{{disease.id}}">
        <button type="submit" class="btn btn-link">{{disease.name}}</button>
    </form>
</div>
{% endfor %}
<p>未找到您所搜索的疾病，请在疾病列表中选择</p>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    查看更多疾病
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for dis in all_dis %}
        <form action="{% url 'choose_hospital' %}">
            <input type="hidden" name="disease_id" value="{{dis.id}}">
            <button type="submit" class="btn btn-link">{{dis.name}}</button>
        </form>
    {% endfor %}
    </ul>
</div>
{% endblock %}