{% extends "index.html" %}
{% block title %}SignUp{% endblock %}

{% block content %}

<form action="{% url 'signup' %}" method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Sign Up</button>
</form>

<script>
    var timer;
    var doneInterval = 500;

    $("input[name='username']").on('keyup', function() {
        $("#username-error").remove();
        clearTimeout(timer);
        if ($("input[name='username']").val()) {
            timer = setTimeout(check, doneInterval);
        }
    });

    function check() {
        var username = $("input[name='username']").val();
        $.ajax({
            url: '{% url "username_check" %}',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function(data) {
                if (data.exist) {
                    $("input[name='username']").after("<label id='username-error' class='control-label'>User already exists</label>");
                }
            }
        });
    }
    
</script>

{% endblock %}
