{% extends "customer_header.html" %}

{% block content %}

<form>
    {% csrf_token %}
    <input type="text" id="typeahead"/>
</form>

<script>
    $(function() {
        $("#typeahead").typeahead(null, {
            source: function(query, process) {
                return $.ajax({
                    url: {% url 'search' %},
                    method: 'get',
                    data: {
                        query: $('#typeahead').val()
                    },
                    dataType: 'json',
                    success: function(data) {
                        // var resultList = JSON.stringify(data);
                        // console.log(resultList);
                        // return process(resultList);
                        return process(data);
                    }
                });
            }
        });
    });
</script>

{% endblock %}