{% extends 'trans_base.html' %}

{% block title %}Assignment Summary {% endblock %}
{% block content %}
<p>{{assignment.get_info}}</p>
<p>Assignment Files</p>
{%if translator.get_role == 1%}
<ul>
    {%for document in assignment.origin.all%}
    <li>{{document.url}}</li>
    {%endfor%}
</ul>
{%endif%}
{%if translator.get_role == 2%}
<ul>
    {%for document in assignment.feedback.all%}
    <li>{{document.url}}</li>
    {%endfor%}
</ul>
{%endif%}
<p>Upload Translated Files</p>
<ul>
    {%for document in assignment.pending.all%}
    <li><a href ="document.url">{{document.document}}</a></li>
    {%endfor%}
</ul>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="trans_files">
    <button type="submit">Upload</button>
</form>
{% endblock %}