{% extends 'trans_base.html' %}

{% block title %}{{translator.get_name}}{% endblock %}

{% block content %}
 <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
    }
    table.fixed {table-layout:fixed; width:100px;}/*Setting the table width is important!*/
    table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/

    input,select{
        width:100px;
    }
  </style>

  <p>Assignments</p>
    <input type="text" id="customer_search"  placeholder="Search Customer">

    <input type="text" id="disease_search"   placeholder="Search Disease">

    <select type="text" id="customer_filter" onchange="filter()" placeholder="Filter Customer">
        <option>All</option>
    </select>

    <select type="text" id="disease_filter"  onchange="filter()" placeholder="Filter Disease">
        <option>All</option>
    </select>

	<table class= 'fixed' id = 'table', style="width:100%">
    <tr>
        <th>Order Id</th>
        <th>Customer</th>
        <th>Disease</th>
        <th>Submit</th>
		<th>Deadline</th>
		<th>Status</th>
		<th>Remaining</th>
		<th>View Summary</th>
    </tr>

  </table>
<script>
    var dic={}
    $( document ).ready(function() {
        $.getJSON("{% url 'trans_update_result'%}",{'status':'{{status}}','query':JSON.stringify(dic)},function(data){
            console.log(data);
            createChoice(data);
            createResult(data);
        });

    });

    function filter(){
        customer_filter = document.getElementById('customer_filter');
        value = customer_filter.options[customer_filter.selectedIndex].value;
        dic.customer=value;

        disease_filter = document.getElementById('disease_filter');
        value = disease_filter.options[disease_filter.selectedIndex].value;
        dic.disease=value;

        console.log(dic);
        $.getJSON("{% url 'trans_update_result'%}",{'status':'{{status}}','query':JSON.stringify(dic)},function(data){
            console.log(data);
        });

    }
    function createResult(data){
        var table = document.getElementById('table');

        for(var i=0;i<data.result.Customer.length;i++){
            var row = table.insertRow(-1);
            createCell(row,data.result.Order_Id[i]);
            createCell(row,data.result.Customer[i][0]);
            createCell(row,data.result.Disease[i][0]);
            createCell(row,data.result.Submit[i]);
            createCell(row,data.result.Deadline[i]);
            createCell(row,data.result.Status[i]);
            createCell(row,data.result.Remaining[i]);
            createLink(row,'{{translator.user.id}}',data.result.Order_Id[i]);

        }
    }
    function createCell(row,value){
        var cell = row.insertCell(-1);
        cell.innerHTML=value;
        console.log(value);
    }
    function createLink(row,translator_id,Order_Id){
        var cell = row.insertCell(-1);
        var a = document.createElement('a');
        a.innerHTML = 'Summary';
        a.href="{% url 'assignment_summary' id=14 order_id=127 %}";
        cell.appendChild(a);

    }
    function createChoice(data){
          var select = document.getElementById('customer_filter');

          for(var i=0; i<data.choices.customer_choice.length;i++){
            var option = document.createElement('OPTION');
            option.value=data.choices.customer_choice[i][0];
            option.text = data.choices.customer_choice[i][1];
            select.appendChild(option);
          }

          var select = document.getElementById('disease_filter');

          for(var i=0; i<data.choices.disease_choice.length;i++){
            var option = document.createElement('OPTION');
            option.value=data.choices.disease_choice[i][0];
            option.text = data.choices.disease_choice[i][1];
            select.appendChild(option);
          }
    }

</script>


{% endblock %}