{% extends "base.html" %}

{% block title %}{{ translator.get_name }}{% endblock %}

{% block body %}

<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="{% url 'trans_home' id=translator.user.id%}">{{translator.get_name}}</a>
  <ul class="nav navbar-nav">
   <li><a href="{% url 'trans_home_status' id=translator.user.id status=0%}">我的任务</a></li>
   <li><a href="{% url 'trans_home_status' id=translator.user.id status=1%}" >翻译中</a></li>
   <li><a href="{% url 'trans_home_status' id=translator.user.id status=2%}">提交审核中</a></li>
   <li><a href="{% url 'trans_home_status' id=translator.user.id status=5%}">已完成</a></li>
   <li><a href="{% url 'translator_logout' %}">登出</a></li>
  </ul>
</div>
{% block content %}

{% endblock %}
{% endblock %}