{% extends "customer_header.html" %}

{% block content %}

{{error}}
<button type="button" class="btn btn-default" id="like-button">
    <span style="font-size:1.5em;" class="glyphicon glyphicon-star"></span>
</button>
<p id="like-statement">收藏这家医院</p>

<br>

<div class="media-left media-middle">
    <img src="{{ hospital.image }}" height="128" width="128">
</div>

<p>专业排名: {{rank}}</p>
<p>综合排名：{{hospital.overall_rank}}</p>
<h4 class="media-heading">医院名字: {{hospital.name}}</h4>
<p>介绍: {{hospital.introduction}}</p>
<p>反馈: {{hospital.feedback_time}} week</p>
<p>价格: {{hospital.price_range}}</p>
<p>地址：{{hospital.area}}</p>
<p>总体评分：{{hospital.average_score}}</p>
<p>第一个星期: {{slots.0}} <input id="radio0" type="radio" name="slots" checked>选择第一个星期<br></p>
<p>第二个星期: {{slots.1}} <input id="radio1" type="radio" name="slots">选择第二个星期<br></p>
<p>第三个星期: {{slots.2}} <input id="radio2" type="radio" name="slots">选择第三个星期<br></p>
<p>第四个星期: {{slots.3}} <input id="radio3" type="radio" name="slots">选择第四个星期<br></p>

{{error}}
<form method="post" id="order_placement_form">
    {% csrf_token %}
    <input type="hidden" name="hospital_id" value="{{ hospital.id }}">
    <input id="slot" type="hidden" name="slot" value=0>
    <button class="btn btn-default" type="submit">下订单</button>
</form>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group" id="comments-container">
                {% for comment in comments %}
                <li class="list-group-item">{{comment.comment}}</li>
                {% endfor %}
            </ul>
        </div>
        <button class="btn btn-default" id="more-comment">更多评价</button>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">提醒</h4>
          </div>
          <div class="modal-body">
              <p>您还有一个没有完成的订单。医院：{{order.hospital.name}}，疾病：{{order.disease.name}}，预定时间：{{order.week_number_at_submit}}星期。</p>
          </div>
          <div class="modal-footer">
              <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="delete" value="continue">
                  <button type="submit" class="btn btn-secondary">继续订单</button>
              </form>
              <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="delete" value="delete">
                  <button type="submit" class="btn btn-primary">确认删除</button>
              </form>
          </div>
        </div>
    </div>
</div>

{% csrf_token %}
<script type="text/javascript">
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
var hosp_id = (function get_hospital_id() {
    try {
        return {{hospital.id}};
    } catch(err) {
        return -1;
    }
})();
$(function() {
    like(false);
});
$("#like-button").click(function() {
    like(true);
});

(function duplicate_order() {
    var duplicate = (function get_duplicate() {
        try {
            return {{ duplicate }} > 0;
        } catch(err) {
            return false;
        }
    })();
    if (duplicate) {
        $('#myModal').modal('show');
    }
})();

function like(mark) {
    var dis_id = (function get_disease_id() {
        try {
            return {{disease.id}};
        } catch(err) {
            return -1;
        }
    })();
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        type: "POST",
        url: "{% url 'like_hospital' %}",
        data: {
            "hospital_id": hosp_id,
            "disease_id": dis_id,
            "mark": mark,
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "liked") {
                $("#like-statement").text("You have MARKED this hospital, Click to unMark");
                $("#like-button span").attr("class", "glyphicon glyphicon-star-empty");
            } else {
                $("#like-statement").text("Bookmark this Hospital");
                $("#like-button span").attr("class", "glyphicon glyphicon-star");
            }
        }
    });
}

$("#radio0").change(function() {
    if ( this.checked ) {
        $("#slot").val(0);
    }
});
$("#radio1").change(function() {
    if ( this.checked ) {
        $("#slot").val(1);
    }
});
$("#radio2").change(function() {
    if ( this.checked ) {
        $("#slot").val(2);
    }
});
$("#radio3").change(function() {
    if ( this.checked ) {
        $("#slot").val(3);
    }
});

var page = 1;
$('#more-comment').click(function() {
    $.ajax({
        url: "{% url 'get_comment' %}",
        data: {
            "hospital_id": hosp_id,
            "page": page,
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "empty") {
                $('#more-comment').prop('value', 'No More Comments');
                $('#more-comment').prop('disabled', true);
            } else {
                $.each(data.comments, function(i, comment) {
                    $('#comments-container').append("<li class='list-group-item'>" + comment + "</li>");
                });
            }
        }
    });
    page += 1;
});
</script>
{% endblock %}
