{% extends "customer_header.html" %}

{% block content %}

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" href="{% url 'order_patient_info' order_id=order_id %}">01 Patient Info</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_document_info' order_id=order_id %}">02 Disease Info</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_review' order_id=order_id %}">03 Review</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_deposit' order_id=order_id %}">04 Deposit</a>
  </div>
</div>

<div>
    <h3 id="timer"></h3>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Birth</th>
        <th>Gender</th>
        <th></th>
    </tr>

    {% for patient in patients %}
    <tr>
        <td>{{patient.get_name}}</td>
        <td>{{patient.birth}}</td>
        <td>{{patient.gender}}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="patient_id" value="{{ patient.id }}">
                <input type="hidden" name="order_id" value="{{ order_id }}">
                <button>Select This Patient</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
(function timer (offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        timestamp = 5 * 60 - timestamp - offset;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        if (timestamp <= 0) {
            window.location = "{% url 'order_expire' %}";
        }
        timer(offset + 0.5);
    }, 500);
})(0);
</script>

{% endblock %}
