{% extends "customer_header.html" %}

{% block content %}
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'order_patient_info' %}">01 患者信息</a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'order_document_info' %}">02 疾病信息</a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" href="{% url 'order_review' %}">03 回顾订单</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_deposit' %}">04 付款</a>
  </div>
</div>

<div>
    <h3 id="timer"></h3>
</div>

<h4>回顾:</h4>

<p>患者: {{order.patient.name}}</p>
<p>性别: {{order.patient.gender}}</p>
<p>年龄: {{order.patient.age}}</p>
<p>疾病: {{order.disease.name}}</p>
<p>医院: {{order.hospital.name}}</p>

{% for doc in document %}
    <a href={{doc.document.url}}>{{ doc.description }}</a>
    <br>
{% endfor %}

<p><input type="checkbox" id="confirm">确认信息是正确的<br></p>

<br>

<form action="{% url 'order_deposit' %}" method="get" role="form">
    {% csrf_token %}
    <a class="btn btn-link" href="{% url 'order_document_info' %}">后退</a>
    <button type="submit" class="btn btn-default" disabled id="submit">提交</button>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">提醒</h4>
          </div>
          <div class="modal-body">
              <p>你的订单已过期</p>
          </div>
          <div class="modal-footer">
              <a type="button" class="btn btn-primary" href="{% url 'home' %}">确认</a>
          </div>
        </div>
    </div>
</div>

<script>
$('#confirm').click(function() {
    $('#submit').prop('disabled', function(i, v) { return !v; });
});

(function timer (offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        var diff = Math.floor((performance.now() - offset) / 1000);
        timestamp = 300 - timestamp - diff;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        if (timestamp <= 0) {
            $('#myModal').modal('show');
            return;
        }
        timer(offset);
    }, 500);
})(performance.now());
</script>

{% endblock %}
