{% extends "customer_header.html" %}

{% block content %}

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'order_info_first' order_id=order_id %}">01 Patient Info</a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" href="{% url 'order_submit_first' order_id=order_id %}">02 Disease Info</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_submit_second' order_id=order_id %}">03 Review</a>
  </div>
  <div class="btn-group" role="group">
    <a  style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_deposit' order_id=order_id %}">04 Deposit</a>
  </div>
</div>

<div>
    <h3 id="timer"></h3>
</div>

<form action="{% url 'order_submit_second' order_id=order_id %}" method="post" role="form", enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Next</button>
</form>

<script>
(function timer (offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        timestamp = 5 * 60 - timestamp - offset;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        if (timestamp <= 0) {
            window.location = "{% url 'order_expire' %}";
        }
        timer(offset + 0.5);
    }, 500);
})(0);
</script>

{% endblock %}
