{% extends "customer_header.html" %}

{% block content %}

<div>
    <h3 id="timer"></h3>
</div>

<input type="radio" name="deposit" id="full-option">All<br>
<input type="radio" name="deposit" id="half-option">Half

<form method="post" role="form" id="deposit">
    {% csrf_token %}
    <button type="submit" class="btn btn-default" id="submit">Deposit</button>
</form>

<script>
(function timer (offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        timestamp = 5 * 60 - timestamp - offset;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        timer(offset + 0.5);
    }, 500);
})(0);

(function check () {
    setTimeout(function () {
        $.ajax({
            url: "{% url 'order_check' %}",
            data: {
                'order_id': {{ order_id }}
            },
            dataType: 'json',
            success: function(data) {
                if (!data.exist) {
                    window.location.href = "{% url 'home' %}";
                }
            }
        });
        check();
    }, 1000);
})();
</script>

{% endblock %}
