{% extends "customer_header.html" %}

{% block content %}

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" href="{% url 'order_patient_info' %}">01 患者信息</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_document_info' %}">02 疾病信息</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_review' %}">03 回顾订单</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_deposit' %}">04 付款</a>
  </div>
</div>

<div>
    <h3 id="timer"></h3>
</div>

<form method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <a class="btn btn-link" href="{% url 'hospital_detail' %}">后退</a>
    <button type="submit" class="btn btn-default">下一步</button>
</form>
<form action="{% url 'order_patient_select' %}" method="get">
    <button type="submit" class="btn btn-link">添加已经存在的病患</button>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">提醒</h4>
          </div>
          <div class="modal-body">
              <p>你的订单已过期</p>
          </div>
          <div class="modal-footer">
              <a type="button" class="btn btn-primary" href="{% url 'home' %}">确认</a>
          </div>
        </div>
    </div>
</div>

<script>
(function timer (offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        var diff = Math.floor((performance.now() - offset) / 1000);
        timestamp = 300 - timestamp - diff;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        if (timestamp <= 0) {
            $('#myModal').modal('show');
            return;
        }
        timer(offset);
    }, 500);
})(performance.now());
</script>

{% endblock %}
