{% extends "customer_header.html" %}

{% block content %}
<div>
    Your order has expired. The page will automatically redirect in <p id="timer"></p> seconds.
</div>

<script>
(function timer (offset) {
    setTimeout(function () {
        var seconds =  Math.floor(offset);
        document.getElementById("timer").innerHTML = seconds;
        if (offset <= 0) {
            window.location = "{% url 'home' %}";
        }
        timer(offset - 0.5);
    }, 500);
})(5);
</script>

{% endblock %}
