{% extends "customer_header.html" %}

{% block content %}

<div>
    <h3 id="timer"></h3>
</div>

<h4>Review:</h4>

<p>Patient: {{order.patient.name}}</p>
<p>Gender: {{order.patient.gender}}</p>
<p>Age: {{order.patient.age}}</p>
<p>Disease: {{order.disease.name}}</p>
<p>Hospital: {{order.hospital.name}}</p>

{% for obj in order.origin.all %}
    <a href={{obj.document.url}}>{{ obj.description }}</a>
    <br>
{% endfor %}

<p><input type="checkbox" id="confirm">Confirm Info Valid<br></p>

<br>

<form action="{% url 'order_deposit' order_id=order.id %}" method="get" role="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-default" disabled id="submit">Submit</button>
</form>

<script>
    $('#confirm').click(function() {
        $('#submit').prop('disabled', function(i, v) { return !v; });
    });

    (function timer (offset) {
        setTimeout(function () {
            var timestamp = {{ time }};
            timestamp = 5 * 60 - timestamp - offset;
            var minutes =  Math.floor(timestamp / 60);
            var seconds =  Math.floor(timestamp % 60);
            document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
            timer(offset + 0.5);
        }, 500);
    })(0)
</script>

{% endblock %}
