{% extends "customer_header.html" %}

{% block content %}

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-default" href="{% url 'order_patient_info' order_id=order_id %}">01 Patient Info</a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" href="{% url 'order_document_info' order_id=order_id %}">02 Disease Info</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_review' order_id=order_id %}">03 Review</a>
  </div>
  <div class="btn-group" role="group">
    <a style="pointer-events: none;" type="button" class="btn btn-default" href="{% url 'order_deposit' order_id=order_id %}">04 Deposit</a>
  </div>
</div>

<div>
    <h3 id="timer"></h3>
</div>

<form method="post" role="form", enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}

    {% for document in documents %}
    <div id="{{document.id}}">
        <a href="{{ document.document.url }}">{{ document.description }}</a>
        <button class="btn btn-secondary" onclick="delete_document({{document.id}})">删除这个文件</button>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Next</button>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">提醒</h4>
          </div>
          <div class="modal-body">
              <p>你的订单已过期</p>
          </div>
          <div class="modal-footer">
              <a type="button" class="btn btn-primary" href="{% url 'home' %}">确认</a>
          </div>
        </div>
    </div>
</div>

{% csrf_token %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
(function timer(offset) {
    setTimeout(function () {
        var timestamp = {{ time }};
        var diff = Math.floor((performance.now() - offset) / 1000);
        timestamp = 1800 - timestamp - diff;
        var minutes =  Math.floor(timestamp / 60);
        var seconds =  Math.floor(timestamp % 60);
        document.getElementById("timer").innerHTML = "距离你的订单结束还有：" +  minutes + " : " + seconds;
        if (timestamp <= 0) {
            $('#myModal').modal('show');
            return;
        }
        timer(offset);
    }, 500);
})(performance.now());

function delete_document(document_id) {
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        type: "POST",
        url: "{% url 'delete_document' %}",
        data: {
            "document_id": document_id,
        },
        dataType: 'json',
        success: function(data) {
            $("#" + document_id).remove();
        }
    });
}
</script>

{% endblock %}
