{% extends 'supervisor_base.html' %}
{% block title %}Approve Order{% endblock %}

{% block content %}
  {% if assignment.status >= 3 %}
  <p>Approve E2C</p>
  {% else %}
  <p>Approve C2E</p>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit",name = 'approve', value = 'Approve'/>
  </form>

  <p><a href="{% url 'supervisor_home' id=supervisor.id %}">Return to home</a></p>
  <p><a href="{% url 'detail' id=supervisor.id order_id=assignment.id %}">Return to detail</a></p>
{% endblock %}