{% extends 'supervisor_base.html' %}
{% block title %}Approve Order{% endblock %}

{% block content %}
  {% if assignment.get_trans_status != 2 %}
    {%if assignment.get_trans_status >= 4 %}
      <p>任务已通过审核 {{assignment.get_trans_status}}</p>
    {% else %}
      <p> 任务尚未提交审核{{assignment.get_trans_status}} </p>
    {% endif %}
  {% else %}
    {% if assignment.get_status > 3 %}
    <p>Approve E2C</p>
    {% else %}
    <p>Approve C2E</p>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input onclick = 'success()' type="submit",name = 'approve', value = 'Approve'/>
  </form>

  <p><a href="{% url 'supervisor_home' id=supervisor.user.id %}">Return to home</a></p>
  <p><a href="{% url 'detail' id=supervisor.id order_id=assignment.id %}">Return to detail</a></p>

{% endif %}
<script>
  function success(){
    alert('Approval Submitted');
  }
</script>
{% endblock %}
