{% extends 'supervisor_base.html' %}
{% block title %}Assign New Translator{% endblock %}

{% block content %}

    <p>翻译员分配</p>
    {% if assignment.get_status <= 3 %}
        <p>分配汉译英</p>
    {% else %}
        <p>分配英译汉</p>
    {% endif %}
    <form  method="POST">
        {% csrf_token %}
      <select name = 'assignee'>
          {% for id, name in assignee_names %}
            <option value = '{{id}}'> {{name}} </option>
          {% endfor %}
      </select>
      <input type="submit",name = 'assignee', value = 'Assign'/>
    </form>



  <p><a href="{% url 'supervisor_home' id=supervisor.user.id %}">Return to home</a></p>
  <p><a href="{% url 'detail' id=supervisor.user.id order_id=assignment.id %}">Return to detail</a></p>


    <script>
        $( document ).ready(function() {
            console.log($("option").attr("value"));
        });
    </script>
{% endblock %}

