{% extends 'supervisor_base.html' %}
{% block title %}Supervisor Home{% endblock %}

{% block content %}
<p>{{msg}}</p>
<p>origin_pdf:<a href = '{{document.url}}'>原始pdf</a></p>
<p>questions:<a href = '{{questions.url}}'>{{questions}}</a></p>
<p>tmp_url:{{tmp_url}}</p>
{% if not exist %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="origin_pdf" onchange = "handleName(this.files)"/>

        <select name = 'translator_E2C'>
              {% for id, name in assignee_names %}
                <option value = '{{id}}'> {{name}} </option>
              {% endfor %}
        </select>
        <input type="submit" class="btn" value="上传" name="upload"/>
    </form>
{% else %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file" type="file"  onchange = "handleName(this.files)" name="origin_pdf"/>
        <select name = 'translator_E2C'>
              {% for id, name in assignee_names %}
                <option value = '{{id}}'> {{name}} </option>
              {% endfor %}
        </select>
        <input type="submit" class="btn" value="覆盖" name="upload"/>
        <input type="submit" class="btn" value="发送" name="send"/>
    </form>
{% endif %}
<script>
    function handleName(files){
    }
    $( document ).ready(function() {
        if("{{msg}}"!='None'){
            alert("{{msg}}");
        };
    });
</script>
{% endblock %}