{% extends 'supervisor_base.html' %}

{% block content %}
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <table style="width:30%">
    <p>Customer</p>
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Order Info</th>
        </tr>

        {%for obj in customers%}
            <tr>
		    <td>{{obj.get_name}}</td>
            <td>{{obj.user.email}}</td>
            <td>{{obj.get_order}}</td>
            </tr>
  	    {%endfor%}



    </table>
{% endblock %}