{% extends 'supervisor_base.html' %}
{% block title %}Order Detail{% endblock %}
{% block content %}

<p id = 'order_id'>订单号: {{assignment.id}}</p>
<p>申请人:   {{assignment.customer.get_name}}</p>
<p>医院:   {{assignment.hospital.get_name}}</p>
<p>病人:   {{assignment.patient_order.get_name}}</p>
<p>疾病:   {{assignment.disease.name}}</p>
<p>状态：   {{assignment.get_status}}</p>
<p>翻译状态： {{assignment.get_trans_status}}</p>
<p>Documents</p>
<ul>
    {%for key, value in documents.items %}
        <ul>{{key}} :
            {% for each in value %}
                <li><a href="{% url 'force_download' document_id=each.id %}">{{each.get_name}}</a>{{each.upload_at}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>


<a href="{% url 'assign' id=supervisor.user_id order_id=assignment.id %}"> 分配</a><br>
<a href="{% url 'manage_files' id=supervisor.user_id order_id=assignment.id %}"> 管理文件</a><br>
<a href="{% url 'approve' id=supervisor.user_id order_id=assignment.id %}"> 审核</a>

<a href="{% url 'generate_questionnaire' hospital_id=assignment.hospital_id disease_id=assignment.disease_id %}">问卷</a>


<form method = 'post'>
     {% csrf_token %}
     {{ form }}
     <input type="submit" onclick = 'check()' value="删除" class = 'btn' name = 'delete' />
</form>

<script>

    function check(){
        var pwd = window.prompt("请输入密码以确认操作");
        var trans_id = $('#trans_user_id').attr('value');
        $.getJSON("{% url 'validate_pwd'%}",{"password":pwd,'trans_id':trans_id},function(data){
                console.log(data);
            });
    }


</script>

{% endblock %}
