{% extends 'supervisor_base.html' %}
{% block title %}Order Detail{% endblock %}
{% block content %}
<p>Origin Files</p>
 <ul>
   {% for obj in assignment.origin.all %}
   <li>
     <a href="{{obj.document.url}}">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
<p>Feedback Files</p>
 <ul>
   {% for obj in assignment.feedback.all %}
   <li>
     <a href="{{obj.document.url}}">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
<p>Pending Files</p>
 <ul>
   {% for obj in assignment.pending.all %}
   <li>
     <a href="{{obj.document.url}}">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
    <a href="{% url 'assign' id=supervisor.id order_id=assignment.id %}"> Assign</a><br>
    <a href="{% url 'manage_files' id=supervisor.id order_id=assignment.id %}"> Manage Files</a><br>
    <a href="{% url 'approve' id=supervisor.id order_id=assignment.id %}"> Approve</a>
{% endblock %}