{% extends 'supervisor_base.html' %}

{% block content %}
<h3>Origin Files</h3>
 <ul>
   {% for obj in assignment.origin.all %}
   <li>
     <a href="obj.document.url">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
<h3>Feedback Files</h3>
 <ul>
   {% for obj in assignment.feedback.all %}
   <li>
     <a href="obj.document.url">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
<h3>Pending Files</h3>
 <ul>
   {% for obj in assignment.pending.all %}
   <li>
     <a href="obj.document.url">{{obj.document}}</a>
   </li>
   {% endfor %}
 </ul>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit',name = 'assign'>Assign</button>
    <button type = 'submit', name='approve'>Submit Approval</button>
    <button type = 'submit', name='upload'> Upload Feedback</button>
  </form>

  <p><a href="{% url 'supervisor_home' id=supervisor.id %}">Return to home</a></p>
{% endblock %}