{% extends 'supervisor_base.html' %}
{% block title %}Build Questionnaire{% endblock %}

{% block content %}
    <div id="questions">
        {% for form in forms %}
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
             </form>
        {% endfor %}
    </div>

    <button onclick ='addQuestion()'>添加问题</button>

    <!--Use this to append form-->
    <div id = 'emptyForm' hidden>
        {{forms.empty_form.as_p}}
    </div>
    <div id = 'emptyChoice' hidden>
        {{choices.empty_form.as_p}}
    </div>

    <script>
        var emptyQuestion = document.getElementById('emptyForm').cloneNode(true);
        var emptyChoice = document.getElementById('emptyChoice').cloneNode(true);
        function addQuestion(){
            cln = emptyQuestion.cloneNode(true);
            cln.removeAttribute('hidden');
            div = document.getElementById('questions');
            div.appendChild(cln);
        }
        function addChoice(){
            cln = emptyChoice.cloneNode(true);
            cln.removeAttribute('hidden');
            div = document.getElementById('choices');
            div.appendChild(cln);
        }
    </script>

{% endblock %}