{% extends 'supervisor_base.html' %}
{% block title %}Build Questionnaire{% endblock %}

{% block content %}
    <div id="questions">
        {% for form in forms %}
            <form method="POST">
                {% csrf_token %}

                <label for="{{ form.question.id_for_label }}" >{{form_question.field.label}}</label>

                <p>{{form.question}}</p>

                <label for="{{ form.format.id_for_label }}">问题形式</label>

                <select name="{{ form_format.name }}">
                    {% for choice in form_format.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
             </form>
        {% endfor %}
    </div>

    <button onclick ='addQuestion()'>添加问题</button>

    <!--Use this to append form-->
    <div id = 'emptyForm' hidden>
        {{forms.empty_form.as_p}}
    </div>
    <div id = 'emptyChoice' hidden>
        {{choices.empty_form.as_p}}
    </div>

    <script>
        var emptyQuestion = document.getElementById('emptyForm');
        var emptyChoice = document.getElementById('emptyChoice');
        function addQuestion(){
            var cln = emptyQuestion.cloneNode(true);
            cln.removeAttribute('hidden');
            var div = document.getElementById('questions');
            div.appendChild(cln);
        }
        function addChoice(){
            var cln = emptyChoice.cloneNode(true);
            cln.removeAttribute('hidden');

        }
    </script>

{% endblock %}