{% extends 'supervisor_base.html' %}

{% block content %}
<p>Hospitals:</p>
  <ul>
    {% for obj in hospitals %}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input style="border:none" type = 'text' name = 'hospital' value = '{{obj.name}}' size="30px" readonly><br>
        <ul>
          <li>Default: {{obj.default_slots}}</li>
          <input type="submit" class="btn" value="减少" onclick="update()" name="subtract"/><li>Week 1: {{obj.slots_open_0}}</li><input type="submit" onclick="update()" class="btn" value="添加" name="add"/>
          <input type="submit" class="btn" value="减少" onclick="update()" name="subtract"/><li>Week 2: {{obj.slots_open_1}}</li><input type="submit" onclick="update()" class="btn" value="添加" name="add"/>
          <input type="submit" class="btn" value="减少" onclick="update()" name="subtract"/><li>Week 3: {{obj.slots_open_2}}</li><input type="submit" onclick="update()" class="btn" value="添加" name="add"/>
          <input type="submit" class="btn" value="减少" onclick="update()" name="subtract"/><li>Week 4: {{obj.slots_open_}}</li><input type="submit" onclick="update()" class="btn" value="添加" name="add"/>
        </ul>
        <input type="submit" class="btn" value="重置" name="reset"/>



      </form>
    {% endfor %}
  </ul>
  <script>

  </script>
{% endblock %}