{% extends 'supervisor_base.html' %}

{%block title%}Manage File{%endblock%}
{% block content %}
<p>Documents</p>
<ul>
    {%for key, value in documents.items %}
        <ul>{{key}} :
            {% for each in value %}
                <li><a href="{% url 'force_download' document_id=each.id %}">{{each.get_name}}</a>{{each.upload_at}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button onclick = 'upload' type="submit">Upload</button>
  </form>


 <p><a href="{% url 'supervisor_home' id=supervisor.user.id %}">Return to home</a></p>
 <p><a href="{% url 'detail' id=supervisor.user.id order_id=assignment.id %}">Return to detail</a></p>
<script>
    $( document ).ready(function() {
        if("{{msg}}"!='None'){
            alert("{{msg}}");
        };
    });
</script>
{% endblock %}