{% extends 'supervisor_base.html' %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>

<p>{{hospital.get_name}}</p>
<table>
    <tr>
        <th>疾病</th>
        <th>默认</th>
        <th>第一周</th>
        <th>第二周</th>
        <th>第三周</th>
        <th>第四周</th>
        <th>修改</th>
    </tr>
    {% for obj in disease_detail %}
    <tr>
        <td>{{obj.disease.get_name}}</td>
        <td class = "{{obj.disease.id}}">{{obj.default_slots}}</td>
        <td class = "{{obj.disease.id}}">{{obj.slots_open_0}}</td>
        <td class = "{{obj.disease.id}}">{{obj.slots_open_1}}</td>
        <td class = "{{obj.disease.id}}">{{obj.slots_open_2}}</td>
        <td class = "{{obj.disease.id}}">{{obj.slots_open_3}}</td>
        <td><button onclick = 'popup("{{obj.disease.id}}")'>修改</button></td>
    </tr>
    {% endfor %}

</table>

  <div >

    <div id = 'popup' hidden>
        <form>
            <table>
                <p>设置数量(Press Esc to cancel)</p>
                <tr>
                    <th>默认</th>
                    <th>第一周</th>
                    <th>第二周</th>
                    <th>第三周</th>
                    <th>第四周</th>
                    <th>提交</th>
                    <th>重置</th>
                </tr>

                <tr>
                    <td ><input type="text" /></td>
                    <td ><input type = "text" /></td>
                    <td ><input type = "text" /></td>
                    <td><input type = "text" /></td>
                    <td><input type = "text" /></td>
                    <td><button class = 'btn'>提交</button></td>
                    <td><button class = 'btn'>重置</button></td>
                </tr>

            </table>
        </form>
    </div>
  </div>
<script>
    var emptyDiv = document.getElementById('popup').cloneNode(true);
    function popup(disease_id){
        exist = document.getElementById('exist')
        if(exist){
            exist.parentNode.removeChild(exist);
        }
        //console.log(disease_id);
        slots_array = document.getElementsByClassName(disease_id);
        //console.log(slots_array);
        cln = emptyDiv.cloneNode(true);
        cln.removeAttribute('hidden');
        cln.setAttribute('id','exist');
        document.body.appendChild(cln);
        row = cln.getElementsByTagName('tr')[1];
        row.setAttribute('id','set-'+disease_id.toString());
        console.log(row);
        cells = row.getElementsByTagName('td');
        //console.log(cells);
        for(i = 0;i<5;i++){
            textNode = document.createTextNode(slots_array[i].innerText);
            cells[i].appendChild(textNode);
        }
        cells[5].setAttribute('onclick','setSlots("{{hospital.id}}",$disease_id$)'.replace('$disease_id$',disease_id));
        cells[6].setAttribute('onclick','resetSlots("{{hospital.id}}",$disease_id$)'.replace('$disease_id$',disease_id));

    }
    function setSlots(hospital_id,disease_id){
        console.log(disease_id);
        row = document.getElementById('set-'+disease_id.toString());
        console.log(row);
        cells = row.getElementsByTagName('td');
        var slots_dict = {};
        for(i = 0;i<cells.length-2;i++){
            slots_dict[i] = cells[i].getElementsByTagName('input')[0].value;
            console.log(slots_dict[i]);
        }
        console.log(slots_dict);
         $.getJSON("{% url 'set_slots'%}",{'hospital':hospital_id,'disease':disease_id,'slots_dict':JSON.stringify(slots_dict)},function(data){
               location.reload()
        });

    }
    function resetSlots(hospital_id,disease_id){
         $.getJSON("{% url 'set_slots'%}",{'hospital':hospital_id,'disease':disease_id},function(data){
               location.reload()
        });

    }
</script>

{% endblock %}
<!---



<script>
    function prompt(hospital_id,disease_id){
        var form = document.getElementById('setSlotForm');
        console.log(form);
        if(form != null){
            document.body.removeChild(form);
        }
        form = document.createElement('form');
        form.setAttribute('id','setSlotForm');
        form.setAttribute('method','post');
        console.log(form);

        var box = document.createElement('table');
        form.appendChild(box);

        box.setAttribute('id','setSlotTable');
        document.body.appendChild(box);

        var row = document.createElement('tr');
        row.setAttribute('id','setSlotRow');
        document.getElementById('setSlotTable').appendChild(row);

        var duplicate = document.getElementsByClassName(disease_id.toString());
        for(i = 0; i< duplicate.length;i++){
            var cell = document.createElement('td');
            var input = document.createElement('input');

            input.setAttribute('type','text');
            input.setAttribute('class',disease_id*10+i);
            //console.log(input);
            cell.appendChild(input);
            input.setAttribute('value',duplicate[i].innerHTML)

            document.getElementById('setSlotRow').appendChild(cell);
        }
        var button = document.createElement('button');

        button.setAttribute('class','btn');
        var text = document.createTextNode('提交');
        button.appendChild(text);
        document.getElementById('setSlotRow').appendChild(button);
        button.setAttribute('onclick',setSlots(hospital_id,disease_id));

    }

</script>

