{% extends "base.html" %}

{% block title %}{{ supervisor.get_name }}{% endblock %}

{% block body %}

<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="{% url 'supervisor_home' id=supervisor.user_id %}">{{supervisor.get_name}}</a>
  <ul class="nav navbar-nav">
   <li class ="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'supervisor_home' id=supervisor.user_id %}">Orders<span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="{% url 'order_status' id=supervisor.user_id status=1%}">Translating</a></li>
          <li><a href="{% url 'order_status' id=supervisor.user_id status=2%}">Approving</a></li>
          <li><a href="{% url 'order_status' id=supervisor.user_id status=5%}">Done</a></li>
        </ul>
   </li>
   <li><a href="{% url 'translator_list' id=supervisor.user_id %}">Translator</a></li>
   <li><a href= "{% url 'customer_list' id=supervisor.user_id %}" >Customer</a></li>
   <li><a href= "{% url 'hospital_list' id=supervisor.user_id %}" >Hospital</a></li>
   <li><a href="{% url 'supervisor_logout' %}">Logout</a></li>

  </ul>
</div>
{% block content %}

{% endblock %}
{% endblock %}