{% extends 'index.html' %}
{% block title %}Supervisor Home{% endblock %}

{% block content %}
  
  <p>Orders:</p>
  <ul>
    {% for obj in orders %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.Order.get_info }}</a>
        <small>(Assigned to : {{ obj.Order.translator.get_name }})</small>
        <a href="{% url 'detail' %}">Detail</a>
      </li>
    {% endfor %}
  </ul>
  <p>Active Translators:</p>
  <ul>
    {% for obj in translators %}
      <li>{{ obj.Customer.get_name }}</li>
    {% endfor %}
  </ul>
  <p>Customers:</p>
  <ul>
    {% for obj in customers %}
      <li>{{ obj.Customer.get_name }}</li>
    {% endfor %}
  </ul>



<p><a href="{% url 'trans_signup', user = supervisor %}">Add a translator</a></p>

{% endblock %}