{% extends 'supervisor_base.html' %}
{% block title %}Supervisor Home{% endblock %}

{% block content %}
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
    }
    table.fixed {table-layout:fixed; width:100px;}/*Setting the table width is important!*/
    table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/

    input,select{
        width:70px;
    }
  </style>
  <button id="include" onclick="startedFilter()">显示未开始订单</button>





  <p>订单:</p>
<div id = 'pagination'>
  <table class= 'fixed' id = 'table', style="width:100%">
    <tr>
        <th>订单号</th>
        <th>申请人</th>
        <th>病人</th>
        <th>医院</th>
        <th>疾病</th>
        <th>汉译英翻译 </th>
        <th>英译汉翻译</th>
        <th>状态</th>
        <th>翻译状态</th>
        <th>截止时间</th>
        <th>翻译截止时间</th>
        <th>最后上传时间</th>
        <th>详情</th>
    </tr>

    <tr>
        <th>
            <input type="text" id="order_search" onkeyup="setTimeout(test,1000)" placeholder="搜索订单号">

        </th>
        <th>
            <input type="text" id="customer_search" onkeyup="setTimeout(test,1000)" placeholder="搜索申请人">
            <select class= 'select' id = 'customer_filter' onchange="filter()">
            </select>
        </th>
        <th>
            <input type="text" id="patient_search" onkeyup="search(2)" placeholder="搜索病人">
            <select class='select' id ="patient_filter" >
            </select>
        </th>
        <th>
            <input type="text" id="hospital_search" onkeyup="search(3)" placeholder="搜索医院">
            <select class = 'select' id = 'hospital_filter'>

            </select>
        </th>
        <th>
            <input type="text" id="disease_search" onkeyup="search(4)" placeholder="搜索疾病">
            <select class = 'select' id = 'disease_filter'>

            </select>
        </th>
        <th>
            <input type="text" id="trans_C2E_search" onkeyup="search(5)" placeholder="搜索汉译英翻译">
            <select class = 'select' id = 'translator_C2E_filter'>
            </select>
        </th>
        <th>
            <input type="text" id="trans_E2C_search" onkeyup="search(6)" placeholder="搜索英译汉翻译">
            <select class = 'select' id = 'translator_E2C_filter'>
            </select>
        </th>
        <th>
            <input type="text" id="status_search" onkeyup="search(7)" placeholder="搜索状态">
            <select class = 'select' id = 'status_filter'>
            </select>
        </th>
        <th>
            <input type="text" id="trans_status_search" onkeyup="search(8)" placeholder="搜索翻译状态">
            <select class = 'select' id = 'trans_status_filter' >
            </select>
        </th>
        <th>
            <button onclick="sortDeadline()">排序</button>
        </th>
        <th>
            <button onclick="sortDeadline()">排序</button>
        </th>
        <th>
            <button onclick="sortDeadline()">排序</button>
        </th>
        <th></th>
    </tr>

  </table>



</div>

  <script>
    var result_length;
    var dic={}
    $( document ).ready(function() {
        $.getJSON("{% url 'update_result'%}",{'status':'{{status}}','query':JSON.stringify(dic)},function(data){
            createResult(data);
            createChoice(data);

        });
    });
    function test(){
        if (document.getElementById('order_search').value==""){
            dic['order_id']='All'
        }
        else{
            dic['order_id']=document.getElementById('order_search').value;
        }
        buildQueryFromSearch('customer');
        console.log(dic);
        /*
        buildQuery('customer');
        buildQuery('patient');
        buildQuery('hospital');
        buildQuery('disease');
        buildQuery('translator_C2E');
        buildQuery('translator_E2C');
        buildQuery('status');
        buildQuery('trans_status');
        */
        $.getJSON("{% url 'update_result'%}",{'status':'{{status}}','query':JSON.stringify(dic)},function(data){
            createResult(data);

        });
    }
    function filter(){

    }
    function buildQueryFromSearch(x){
        str = x.toString()
        search_str = str+'_search';
        search = document.getElementById(search_str);
        dic[str]=search.value;
    }
    function createResult(data){
        var table = document.getElementById('table');
        $('.result').empty();
        for(var i=0;i<data.result.Customer.length;i++){
            var row = table.insertRow(-1);
            row.className = 'result'
            createCell(row,data.result.Order_Id[i]);
            createCell(row,data.result.Customer[i][1]);
            createCell(row,data.result.Patient[i][1]);
            createCell(row,data.result.Hospital[i][1]);
            createCell(row,data.result.Disease[i][1]);
            createCell(row,data.result.Translator_C2E[i][1]);
            createCell(row,data.result.Translator_E2C[i][1]);
            createCell(row,data.result.Status[i][1]);
            createCell(row,data.result.Trans_Status[i][1]);
            createCell(row,data.result.Deadline[i]);
            createCell(row,data.result.Trans_Deadline[i]);
            createCell(row,data.result.Upload[i]);
            createLink(row,data.result.Link[i]);


        }
        result_length = data.result_length;
        console.log(result_length);
        $('#pagination').twbsPagination({
            next: '下一页',
            last:'最后一页',
            first:'第一页',
            prev:'上一页',
            totalPages: (result_length>=5)? parseInt(result_length/5)+1 : 1,
            visiblePages:10,
            onPageClick: function (event, page) {
                $.getJSON("{% url 'update_result'%}",{'status':'{{status}}','query':JSON.stringify(dic),'page':page},function(data){

                    createResult(data);
                });
            }
        });
    }
    function formatDate(time){
        var d = new Date(time);
        return d.getFullYear()+'年'+(d.getMonth()+1)+'月'+d.getDate()+'日'+d.getHours()+'点'
    }
    function createCell(row,value){
        var cell = row.insertCell(-1);
        cell.innerHTML=value;
    }
    function createLink(row,href){
        var cell = row.insertCell(-1);
        var a = document.createElement('a');
        a.innerHTML = '详情';
        a.href=href;
        cell.appendChild(a);


    }
    function createChoice(data){
          createOption(data,'customer');
          createOption(data,'patient');
          createOption(data,'hospital');
          createOption(data,'disease');
          createOption(data,'translator_C2E');
          createOption(data,'translator_E2C');
          createOption(data,'status');
          createOption(data,'trans_status');
    }
    function createOption(data,x){
        str = x.toString();
        filter = str+'_filter'
        var select = document.getElementById(filter);
        choice = str+'_choice'
        choices = data.choices[choice]
        var option = document.createElement('OPTION');
        option.value='All';
        option.text = '所有';
        select.appendChild(option);

        for(var i=0; i<choices.length;i++){
            var option = document.createElement('OPTION');
            option.value=choices[i][0];
            option.text = choices[i][1];
            select.appendChild(option);
          }
    }
</script>



{% endblock %}