{% extends 'supervisor_base.html' %}
{% block title %}Supervisor Home{% endblock %}

{% block content %}
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
    }
    table.fixed {table-layout:fixed; width:100px;}/*Setting the table width is important!*/
    table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/

    input,select{
        width:70px;
    }
  </style>
  <button id="include" onclick="startedFilter()">Switch</button>





  <p>Orders:</p>

  <table class= 'fixed' id = 'table', style="width:100%">
    <tr>
        <th>
            Order Id

        </th>
        <th>Customer</th>
        <th>Patient</th>
        <th>Hospital</th>
        <th>Disease</th>
        <th>Translator_C2E </th>
        <th>Translator_E2C</th>
        <th>Status</th>
        <th>Translator Status</th>
        <th>Deadline</th>
        <th>Submit Deadline</th>
        <th>Detail</th>
    </tr>

    <tr>
        <th>
            <input type="text" id="searchInput0" onkeyup="search(0)" placeholder="Search">

        </th>
        <th>
            <input type="text" id="searchInput1" onkeyup="search(1)" placeholder="Search">
            <select class= 'select' id = 'customer_choices'>
            </select>
        </th>
        <th>
            <input type="text" id="searchInput2" onkeyup="search(2)" placeholder="Search">
            <select class='select' id ="patient_choices" >

            </select>
        </th>
        <th>
            <input type="text" id="searchInput3" onkeyup="search(3)" placeholder="Search">
            <select id = 'hospital_choices'>

            </select>
        </th>
        <th>
            <input type="text" id="searchInput4" onkeyup="search(4)" placeholder="Search">
            <select id = 'disease_choices'>

            </select>
        </th>
        <th>
            <input type="text" id="searchInput5" onkeyup="search(5)" placeholder="Search">
            <select id = 'translator_C2E_choices'>
            </select>
        </th>
        <th>
            <input type="text" id="searchInput6" onkeyup="search(6)" placeholder="Search">
            <select id = 'translator_E2C_choices'>
                <option value = 'all'>All</option>

            </select>
        </th>
        <th>
            <input type="text" id="searchInput7" onkeyup="search(7)" placeholder="Search">
            <select id = 'status_choices'>
            </select>
        </th>
        <th>
            <input type="text" id="searchInput8" onkeyup="search(8)" placeholder="Search">
            <select id = 'trans_status_choices' >
            </select>
        </th>
        <th>
            <input type="text" id="searchInput9" onkeyup="search(9)" placeholder="Search">
            <button onclick="sortDeadline(8)">Sort</button>
        </th>
        <th>
            <input type="text" id="searchInput10" onkeyup="search(10)" placeholder="Search">
            <button onclick="sortDeadline(9)">Sort</button>
        </th>
    </tr>

      {%for obj in orders%}
      <tr class="initial">
        <td>{{obj.id}}</td>
        <td>{{obj.customer.get_name}}</td>
        <td>{{obj.patient.name}}</td>
        <td>{{obj.hospital.name}}</td>
        <td>{{obj.disease.name}}</td>
        <td>{{obj.translator_C2E.get_name}}</td>
        <td>{{obj.translator_E2C.get_name}}</td>
        <td>{{obj.get_status}}</td>
        <td>{{obj.get_trans_status}}</td>
        <td>{{obj.get_deadline}}</td>
        <td>{{obj.get_submit_deadline}}</td>
        <td><a href = "{% url 'detail' id=supervisor.id order_id=obj.id %}">Detail</a></td>
      </tr>
    {%endfor%}

  </table>

  <button id = 'test' name = 'customer' value = '1'>Test_value</button>

</div>

  <script>
    $( document ).ready(function() {
        var value = '{{status}}';
        var field = 'trans_status';
        var form = $("#testform");
        $.getJSON("{% url 'update_result'%}",{'value':value,'field':field},function(data){
            createChoices(data,'customer');
            createChoices(data,'patient');
            createChoices(data,'hospital');
            createChoices(data,'disease');
            createChoices(data,'translator_C2E');
            createChoices(data,'translator_E2C');
            createChoices(data,'status');
            createChoices(data,'trans_status');
            createPagination(data);
        });
    });
    $(".select").change(function () {
        $(".initial").empty();
        var value = $(".select option:selected").val();
        var field = $(".select option:selected").attr("field");
        $.getJSON("{% url 'update_result'%}",{'value':value,'field':field},function(data){
            createChoices(data,'customer');
            createChoices(data,'patient');
            createChoices(data,'hospital');
            createChoices(data,'disease');
            createChoices(data,'translator_C2E');
            createChoices(data,'translator_E2C');
            createChoices(data,'status');
            createChoices(data,'trans_status');
            appendRow(data);
        });
    });
    function appendRow(data){
        var rowResult = data['results'];
        var table = document.getElementById("table");
        for(var i=0;i<rowResult.length;i++){
            var row = table.insertRow(-1);
            insertCell_s(row,rowResult,i,'Order_id');
            insertCell(row,rowResult,i,'Customer');
            insertCell(row,rowResult,i,'Patient');
            insertCell(row,rowResult,i,'Hospital');
            insertCell(row,rowResult,i,'Disease');
            insertCell(row,rowResult,i,'Translator_C2E');
            insertCell(row,rowResult,i,'Translator_E2C');
            insertCell(row,rowResult,i,'Status');
            insertCell(row,rowResult,i,'Translator Status');
            insertCell_s(row,rowResult,i,'Deadline');
            insertCell_s(row,rowResult,i,'Submit Deadline');



        }
    }
    function insertCell(row,rowResult,i,x){
        var cell = row.insertCell(-1);
        cell.className="initial";
        cell.innerHTML = rowResult[i][x.toString()][1];
    }
    function insertCell_s(row,rowResult,i,x){
        var cell = row.insertCell(-1);
        cell.className="initial";
        cell.innerHTML = rowResult[i][x.toString()];
    }
    function createPagination(data){
        alert(data.orders.has_previous);
    }
    function createChoices(data,x){

        var a = x.toString()+'_choices'
        var choices = data['choices'][a];
        var select = document.getElementById(a);
        select.innerHTML=" ";
        var option_all = document.createElement("option");
        var display = document.createElement("option");
        display.text='...';
        select.add(display);
        option_all.text='All';
        option_all.setAttribute("field",x.toString());
        option_all.value='ALL';
        select.add(option_all);
        for(var i=0; i<choices.length;i++){
            var option = document.createElement("option");
            option.setAttribute("field",x.toString());
            option.className='choice';
            option.text=choices[i][1];
            option.value=choices[i][0];
            select.add(option);

        }

    }
    /*
        var patient_choices = data.choices.patient_choices;
        var disease_choices = data.choices.disease_choices;
        var hospital_choices = data.choices.hospital_choices;
        var translator_C2E_choices = data.choices.translator_C2E_choices;
        var translator_E2C_choices = data.choices.translator_E2C_choices;
        var status_choices = data.choices.status_choices;
        var trans_status_choices = data.choices.trans_status_choices;

    function patientFilter(){
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("patient");
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");
      if (filter != 'ALL'){
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
      }
      else{
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
      }

    }

    function filter(x){
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("filterInput"+x.toString());
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");
      if (filter != 'ALL'){
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[x];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
      }
      else{
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
      }



    }

    function startedFilter() {
      // Declare variables
      var input, filter, table, tr, td, i;
      filter = "STARTED";
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[6];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            if(tr[i].style.display == "none"){
                tr[i].style.display = "";
            }
            else{
                tr[i].style.display = "none";
            }
          }
        }

      }
    }

    function search(x) {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("searchInput"+x.toString());
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    */

    function sortDeadline(x) {
      var table, rows, switching, i, a, b, shouldSwitch;
      table = document.getElementById("table");
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("tr");
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 2; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          a = rows[i].getElementsByTagName("td")[x].innerHTML;
          a=parseFloat(a.substring(0,a.indexOf("days")))*24+parseFloat(a.substring(a.indexOf("hours")-4,a.indexOf("hours")));



          b = rows[i + 1].getElementsByTagName("td")[x].innerHTML;
          b=parseFloat(b.substring(0,b.indexOf("days")))*24+parseFloat(b.substring(b.indexOf("hours")-4,b.indexOf("hours")));


          //check if the two rows should switch place:
          if (a > b) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }

      function toHours(x){
          x = x.split(" ");
          window.alert(x);
      }
}
</script>



{% endblock %}