{% extends 'supervisor_base.html' %}

{% block content %}
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <table style="width:30%">
    <p>汉译英翻译员</p>
        <tr>
            <th>翻译员姓名</th>
            <th>邮箱</th>
            <th>订单数</th>
            <th>重置密码</th>
            <th>删除</th>
        </tr>

    {%for obj in translators_C2E%}
		<tr>
            <td>{{obj.get_name}}</td>
            <td>{{obj.user.email}}</td>
            <td>{{obj.get_assignment_number}}</td>
            <td>
                <form action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <input type="submit" value="重置" />
                </form>
            </td>
            <td>
                <form role="POST">
                    {% csrf_token %}
                    <input type="submit" onclick = 'check()' value="删除" class = 'btn' name = 'delete' />
                </form>
            </td>
        </tr>

  	{%endfor%}

    </table><br>

    <table style="width:30%">
    <p>英译汉翻译员</p>
        <tr>
            <th>翻译员姓名</th>
            <th>邮箱</th>
            <th>订单数</th>
            <th>重置密码</th>
            <th>删除</th>
        </tr>

    {%for obj in translators_E2C%}
		<tr id = 'trans_user_id' value = '{{obj.user.id}}'>

            <td>{{obj.get_name}}</td>
            <td>{{obj.user.email}}</td>
            <td>{{obj.get_assignment_number}}</td>
            <td>
                <form  action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <input type="submit" value="重置" />
                </form>
            </td>
            <td><button  onclick='check()'  class ='btn' name = 'delete' >删除</button></td>
        </tr>
  	{%endfor%}
    </table>
<p><a href="{% url 'trans_signup' id=supervisor.user.id %}">添加翻译员</a></p>

<script>

    function check(){
        var pwd = window.prompt("请输入密码以确认操作");
        var trans_id = $('#trans_user_id').attr('value');
        $.getJSON("{% url 'validate_pwd'%}",{"password":pwd,'trans_id':trans_id},function(data){
                console.log(data);
            });
    }


</script>
{% endblock %}