{% extends "customer_header.html" %}

{% block content %}

<form action="{% url 'document_submit' order_id=order_id %}" method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Next</button>
</form>

{% endblock %}