{% extends "customer_header.html" %}

{% block content %}

{{error}}
<button type="button" class="btn btn-default" id="like-button">
    <span  style="font-size:1.5em;" class="glyphicon glyphicon-star"></span>
</button>
<p id="like-statement">Bookmark this Hospital</p>

<br>

{{hospital.name}}
<p> 1st week: {{hospital.slots_open_0}} <input id="radio0" type="radio" name="slots" checked>Choose 1st W<br></p>
<p> 2nd week: {{hospital.slots_open_1}} <input id="radio1" type="radio" name="slots">Choose 2nd W<br></p>
<p> 3rd week: {{hospital.slots_open_2}} <input id="radio2" type="radio" name="slots">Choose 3rd W<br></p>
<p> 4th week: {{hospital.slots_open_3}} <input id="radio3" type="radio" name="slots">Choose 4th W<br></p>

{% if error %}
{{error}}
{% endif %}
<form action="{% url 'order_info_first' order_id=order_id slot_num=0 %}" method="post" id="order_placement_form">
    {% csrf_token %}
    <button class="btn btn-default" type="submit">Place Order</button>
</form>

<script type="text/javascript">
    $(function() {
        like(false);
    });
    $("#like-button").click(function() {
        like(true);
    });

    function like(mark) {
        var hosp_id = {{hospital.id}};
        var dis_id = {{disease.id}};
        $.ajax({
            url: "{% url 'like_hospital' %}",
            data: {
                "hospital_id": hosp_id,
                "disease_id": dis_id,
                "mark": mark,
            },
            dataType: 'json',
            success: function(data) {
                if (data.status == "liked") {
                    $("#like-statement").text("You have MARKED this hospital, Click to unMark");
                    $("#like-button span").attr("class", "glyphicon glyphicon-star-empty");
                } else {
                    $("#like-statement").text("Bookmark this Hospital");
                    $("#like-button span").attr("class", "glyphicon glyphicon-star");
                }
            }
        });
    }

    var id = {{order_id}};
    $("#radio0").change(function() {
        if ( this.checked ) {
            url_generator(id, 0);
        }
    });
    $("#radio1").change(function() {
        if ( this.checked ) {
            url_generator(id, 1);
        }
    });
    $("#radio2").change(function() {
        if ( this.checked ) {
            url_generator(id, 2);
        }
    });
    $("#radio3").change(function() {
        if ( this.checked ) {
            url_generator(id, 3);
        }
    });
    function url_generator(order, num) {
        console.log(Urls.order_info_first(order, num));
        $("#order_placement_form").attr("action", Urls.order_info_first(order, num));
    }




</script>
{% endblock %}
