{% extends "customer_header.html" %}
{% block title %}Bookmarked Hospitals{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'info_profile' %}">Profile</a></li>
    <li role="presentation" class="active"><a href="{% url 'info_bookmark' %}">Bookmark</a></li>
    <li role="presentation"><a href="{% url 'info_order' %}">Appointment</a></li>
</ul>

<br>

<div class="container-fluid">
    <div class="row">
        {% if hospitals_length %}
        {% for hosp in hospitals %}
        <div class="col-md-4" style="border-style:solid">
            <p>Rank: {{ forloop.counter0|add:"1" }}</p>
            <h4 class="media-heading">Hospital Name: {{hosp.name}}</h4>
            <p>Introduction: {{hosp.introduction}}</p>
            <form action="{% url 'info_unmark' hospital_id=hosp.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    <span style="font-size:1.5em;" class="glyphicon glyphicon-star"></span>
                    I want to unMark
                </button>
            </form>
            <input class="compare-select" type="checkbox" value="{{ hosp.id }}">Select to Compare
            <a href="{% url 'hospital_order' hospital_id=hosp.id disease_id=disease.id %}">
                Click here to hospital
            </a>
        </div>
        {% endfor %}
        {% else %}
        Have not bookmark any hospitals yet.
        {% endif %}
    </div>
    <div class="row">
        {% if hospitals_length %}
            <form id="compare-form" method="get">
                <button id="compare-button" class="btn btn-default" disabled>Compare Hosptials</button>
            </form>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    var limit = 2;
    $('.compare-select').on('change', function(event) {
        if ($('.compare-select:checked').length > limit) {
            $(this).prop('checked', false);
            $('#compare-button').prop('disabled', false);
        } else if ($('.compare-select:checked').length < limit) {
            $('#compare-button').prop('disabled', true);
        } else {
            $('#compare-button').prop('disabled', false);
            var selected = [];
            $('.compare-select:checked').each(function() {
                selected.push(parseInt($(this).attr('value')));
            });
            $('#compare-form').attr('action', Urls.info_bookmark_detail(selected[0], selected[1]));
        }
    });
</script>
{% endblock %}
