{% extends "customer_header.html" %}
{% block title %}Bookmarked Hospitals{% endblock %}

{% block content %}
<ul class="list-group">
    {% for o in hospitals %}
        <li class="list-group-item">
            <span>Name</span>
            <br>
            <span>{{ o.name }}</span>
            <br>
            <span>Indroduction</span>
            <br>
            <span>{{ o.introduction }}</span>
            <br>
            <form action="{% url 'info_unmark' hospital_id=o.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    <span style="font-size:1.5em;" class="glyphicon glyphicon-star"></span>
                    I want to unMark
                </button>
            </form>
        </li>
    {% endfor %}
</ul>
<script type="text/javascript">

</script>
{% endblock %}
