{% extends "customer_header.html" %}
{% block title %}Bookmarked Hospitals{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'info_profile' %}">Profile</a></li>
    <li role="presentation" class="active"><a href="{% url 'info_bookmark' %}">Bookmark</a></li>
    <li role="presentation"><a href="{% url 'info_order' %}">Appointment</a></li>
</ul>

<br>

<ul class="list-group">
    {% if disease_length %}
        {% for dis in diseases %}
        <li class="list-group-item">
            <a href="{% url 'info_bookmark_compare' disease_id=dis.id %}">{{dis.name}}</a>
        </li>
        {% endfor %}
    {% else %}
        Have not bookmark any hospitals yet.
    {% endif %}
</ul>
<script type="text/javascript">

</script>
{% endblock %}
