{% extends "customer_header.html" %}
{% block title %}Bookmarked Hospitals{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'info_profile' %}">Profile</a></li>
    <li role="presentation" class="active"><a href="{% url 'info_bookmark' %}">Bookmark</a></li>
    <li role="presentation"><a href="{% url 'info_order' %}">Appointment</a></li>
</ul>

<br>

<ul class="list-group">
    {% if hospitals_length %}
        {% for hosp in hospitals %}
        <li class="list-group-item">
            <span>Name</span>
            <br>
            <span>{{ hosp.name }}</span>
            <br>
            <span>Indroduction</span>
            <br>
            <span>{{ hosp.introduction }}</span>
            <br>
            <form action="{% url 'info_unmark' hospital_id=hosp.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    <span style="font-size:1.5em;" class="glyphicon glyphicon-star"></span>
                    I want to unMark
                </button>
            </form>
            {% with dis_id=diseases|get_item:hosp.id %}
            <a href="{% url 'hospital_order' hospital_id=hosp.id disease_id=dis_id %}">
                Click here to hospital
            </a>
            {% endwith %}
        </li>
        {% endfor %}
    {% else %}
        Have not bookmark any hospitals yet.
    {% endif %}
</ul>
<script type="text/javascript">

</script>
{% endblock %}
