{% extends "customer_header.html" %}
{% block title %}Appointment{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'info_profile' %}">Profile</a></li>
    <li role="presentation"><a href="{% url 'info_bookmark' %}">Bookmark</a></li>
    <li role="presentation" class="active"><a href="{% url 'info_order' %}">Appointment</a></li>
</ul>

<br>

<ul class="list-group" id="order">
    {% if not order_length %}
    No order yet.
    {% else %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Disease</th>
            <th>Hospital</th>
            <th>Status</th>
        </tr>
        {% for order in order_list %}
        <tr>
            <td>{{order.patient}}</td>
            <td>{{order.time}}</td>
            <td>{{order.disease}}</td>
            <td>{{order.hospital}}</td>
            <td>{{order.status}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</ul>
{% endblock %}
