{% extends 'customer_header.html' %}

{% block content %}

<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="{% url 'info_profile' %}">Profile</a></li>
    <li role="presentation"><a href="{% url 'info_profile_password' %}">Password</a></li>
    <li role="presentation" class="active"><a href="{% url 'info_profile_password' %}">Add Patient</a></li>
</ul>


<ul class="list-group">
    {% for patient in patients %}
         <li class="list-group-item">Name: {{patient.name}}</li>
    {% endfor %}
</ul>

<form action="{% url 'info_profile_patient' %}" method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% for error in field.errors %}
        <label class="control-label">{{ error }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}